[submodule "vendor/imgui"]
	path = vendor/imgui
	url = https://github.com/ocornut/imgui
	branch = docking
[submodule "vendor/imgui-sfml"]
	path = vendor/imgui-sfml
	url = https://github.com/SFML/imgui-sfml
	branch = 2.6.x